<div ng-controller="appController as app" ng-init="app.init()" class="app">
    <nav class="navbar navbar-inverse navbar-static-top container-fluid" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="isNavCollapsed = !isNavCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="">应用管理后台</a>
        </div>
        <div class="collapse navbar-collapse" uib-collapse="isNavCollapsed">
            <ul class="nav navbar-nav">
                <li><a href="" ng-click="app.goPage('app.appsGroup')">应用组合</a></li>
                <li><a href="" ng-click="app.goPage('app.appsWarehouse')">应用库</a></li>
            </ul>
            <!--<div><button type="button" ng-click="app.logout()">登出</button></div>-->
            <div ng-click="app.logout()" class="avatar" ng-class="{'blur':(app.showMaskClass)}" style="transition-duration: .33s"></div>
        </div>

    </nav>

    <ui-view></ui-view>
    <!--弹窗-->
    <div class="modal fade ng-scope ng-isolate-scope" ng-class="{'in':(app.showMaskClass)}">
        <div class="modal-dialog">
            <ng-include src="app.maskUrl">
                <!--
                -
                -
                    弹窗内容
                -
                -
                -->
            </ng-include>
        </div>
    </div>
    <!--弹窗-->
</div>