<div ng-controller="appEditImgsController as appEditImgs" ng-init="appEditImgs.init()">
    <div>
        <h3>{{appEditImgs.App.Name}}</h3>
    </div>
    <div>
        <form id="appEditImgsForm" name="appEditImgsForm" ng-submit="appEditImgsForm.$valid && appEditImgs.save()" role="form">
            <div class="col-md-12 text-center" style="margin-top: 10px; margin-bottom: 10px;">
                <input id="upload" style="display: none;" type="file" file-model="myFile" data-e="hidenUpload"
                       accept="image/*"/>
                <a class="btn btn-primary center-block" ng-click="appEditImgs.clickUpload('upload')">上传应用图片</a>
                <a id="hidenUpload" style="display: none;"
                   ng-click="appEditImgs.imgs.uploadFile('myFile', appEditImgs.imgs, false)"></a>
            </div>
            <div ng-repeat="img in appEditImgs.imgs.data">
                <img ng-src="{{img.src}}" alt="{{img}}"/>
                进度： {{img.progress}}
                剩余： {{img.leftSize}}
                <a ng-click="appEditImgs.imgs.deleteById(img.id); ">
                    删除
                </a>
            </div>
        </form>
        <div>
            <button type="button" class="btn btn-default" ng-click="appEditImgs.cancel()">取消</button>
            <button type="submit" class="btn btn-primary" form="appEditImgsForm">保存</button>
        </div>
    </div>
    <div ng-show="appEditImgs.saving">Saving...</div>
</div>