<div ng-controller="appsGroupController as appsGroup" ng-init="appsGroup.init()">
    <!-- 左侧菜单 -->
    <div class="nav-left col-lg-5">
        <h3>应用组合列表</h3>
        <button type="button" class="btn btn-primary" ng-click="appsGroup.addAdv()">添加广告</button>
        <ul class="nav nav-stacked">
            <li class="nav-header active" ng-repeat="item in appsGroup.groups" >
                <a class="theme-hover"  ui-sref-active="active" ui-sref="app.appsGroup.appsGroupInfo({groupId:{{item.groupId}}})">
                    {{item.groupName}}
                </a>
            </li>
        </ul>
    </div>

    <!-- 右侧 -->
    <ui-view class="col-lg-7"></ui-view>
</div>