<div ng-controller="appsImportController as appsImport" ng-init="appsImport.init()">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" ng-click="appsImport.cancel()">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
            </button>
            <h5 class="modal-title ng-binding">导入应用</h5>
        </div>
        <!--应用列表内容-->
        <div class="panel-body">
            <table ng-table="appsImport.tableParams" class="app-import-table">
                <tbody>
                <tr ng-repeat="app in $data" ng-click="appsImport.changeCurrents(app, $event)">
                    <td title="'#'"><input class="" type="checkbox" ng-model="appsImport.appList[$index].checked" ng-checked="appsImport.appList[$index].checked" ng-click="appsImport.stopPro($event)"></td>
                    <td title="'应用图'">
                        <div class="form-thumbnail apps-list-img" style="background-image: url({{app.LogoURL}})"></div>
                    </td>
                    <td title="'应用名'">{{app.Name}}</td>
                    <td title="'大小'">{{app.Size}}</td>
                    <td title="'评分'"><span uib-rating ng-model="app.ApkStar" max="5" read-only="true" aria-labelledby="default-rating" required></span></td>
                </tr>
                </tbody>
            </table>
            <div ng-show="appsImport.loading">Loading...</div>
            <div ng-show="appsImport.noData">No Data</div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="appsImport.cancel()">取消</button>
            <button type="button" class="btn btn-primary" ng-click="appsImport.import()"><i class="icon ion-ios-checkmark-outline"></i> 导入</button>
        </div>
    </div>
</div>