<div ng-controller="editAppGroupController as editAppGroup" ng-init="editAppGroup.init()">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" ng-click="editAppGroup.cancel()">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
            </button>
            <h5 class="modal-title ng-binding">编辑应用组合详情</h5>
        </div>
        <div class="modal-body">
            <form id="editForm" novalidate ng-submit="addForm.$valid && editAppGroup.editAppGroup()" name="editForm">
                <div class="form-group">
                    <label>应用组合名字：</label>
                    <input type="text" class="form-control" ng-model="editAppGroup.form.Name" required>
                </div>
                <div class="form-group">
                    <label>应用组合描述：</label>
                    <textarea type="text" rows="4" class="form-control" ng-model="editAppGroup.form.Description" required></textarea>
                </div>
                <!--<input type="submit" name="" ng-disabled="addForm.$invalid || editAppGroup.saving" class="btn btn-primary">-->
                <!--<input value="删除" name="" ng-disabled="editAppGroup.saving" class="btn btn-primary" ng-click="editAppGroup.deleteAppGroup()">-->
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="editAppGroup.cancel()">取消</button>
            <button type="button" class="btn btn-danger" ng-click="editAppGroup.deleteAppGroup()" ng-disabled="editAppGroup.saving"><i class="glyphicon glyphicon-trash"></i> 删除</button>
            <button type="submit" class="btn btn-primary" form="editForm"><i class="icon ion-ios-checkmark-outline"></i> 保存</button>
        </div>
    </div>
</div>